body {
    background-color: #000;
}
.level {
    width: 600px;
    height: 600px;
    background-color: #121111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    position: absolute;
    left: 20px;
    top: 20px;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.ship {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 300px;
    top: 500px;
}

.enemy {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 300px;
    top: 60px;
}

.star {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 20px;
    top: 100px;
    background-color: silver;
}